<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<h1><%= title %></h1>

<p>My name is Wai Lim Leung.  Please click <a href="images/Resume.pdf">Wai Lim Leung</a> to my resume.</p>

<ins>My working experiences as below</ins><br>
- Professor in Centralial College (2005-Present).<br>
- Working in Tomato Zoo since 2010.<br>
- TTD Best Driver award in 2015.<br>
- Able to communicate with animal.<br>
- Master degree in Sky Management.
</p>

<p>
<ins>Recent Photo</ins><br><img src = "images\Bear - 1.png">
</p>

