<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<h1><%= title %></h1>

<p>Welcome!!  We are bring you to animal world.  The phylum chordata (animals with backbones) is divided into five common classes:<br>
- Fish.<br>
- Amphibians.<br>
- Reptiles.<br>
- Mammals.<br>
- Birds.<br>
</p>

<p>Mission - Our focus on customer and alway take care of animal.<br>
</p>

<p>For the services, please click <a href="services"><i></i>Services</a> for details.  For any enquiry, please click <a href="contact"><i></i>Contact</a> to us.</p>

<img src = "images\Pengiun - 2.png">

