<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<h1><%= title %></h1>

<p><ins>Current project working in Tom Houton</ins><br>
- Machine horse power.<br>
- Coffee highway.<br>
- Go live procedures.<br>
- Light meal.<br>
<img src = "images\Shark - 1.png">
</p>

<p><ins>Past three projects working in Air Progress</ins><br>
- School pathway system.<br>
- Bank in town security.<br>
- Warehouse seperation policy.<br>
<img src = "images\Fish - 1.png">
</p>
