<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>

<h1><%= title %></h1>

<p><ins>Services offered by ~Animal~</ins><br>
Strongly based on the knowledge and expertise of the founders in the food & game industries. This know-how is being continuously enhanced both on the application and on the technology
fronts making ~Animal~ a true market leader.<br>
- Butter first track.<br>
- Fresh fruit meeting.<br>
- TV games foundation.<br>
- Mobile location appointment.<br>
<img src = "images\Cat - 1.png">
</p>
